# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Entorno virtual
.virtualenvs/
venv/
env/

# Credenciales (IMPORTANTE)
service_account.json
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# PythonAnywhere
.bash_history
.bashrc
.profile
.vimrc
.pythonstartup.py
.gitconfig

CLAUDE.md